@import "vendor/reset.scss";
@import "fonts";
@import "vars";
@import "mixins";

html {
    font-size: 62.5%;
}

body {
    background-color: $bg-color--page;

    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    color: $font-color--primary;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: $font-color--primary;
}

.page {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: $container-width;
    height: 100%;
    margin: 0 auto;

    @include mq("tablet-wide", max) {
        width: 100%;
    }
}

.container-left {
    margin-left: 112px;

    @include mq("desktop-wide", max) {
        margin-left: auto;
    }
}

// blocks import
@import "blocks/header.scss";
@import "blocks/hero-section.scss";
@import "blocks/features-section.scss";
@import "blocks/jumbotron-section.scss";
@import "blocks/demo-section.scss";
@import "blocks/sale-section.scss";
@import "blocks/advantages-section.scss";
@import "blocks/footer.scss";
