.footer {
    margin: 175px 0 0 0;
    padding: 81px 0 160px 0;
    background-color: #3744bd;

    @include mq("phone", max) {
        margin: 0;
        padding: 0 0 50px 0;
    }

    &-top {
        position: relative;
        display: flex;
        padding: 0 0 80px 0;

        border-bottom: 1px solid rgba(#ffffff, 0.1);

        @include mq("tablet-wide", max) {
            max-width: 707px;
            margin: 0 auto;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            padding: 153px 0 80px 0;
        }

        @include mq("phone", max) {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            padding: 140px 0 0 0;
        }

        @media screen and (min-width: 481px) and (max-width: 590px) {
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: stretch;
        }

        &__logo {
            display: none;
            width: 100px;
            height: 47px;

            @include mq("tablet-wide", max) {
                display: block;
                position: absolute;
                top: 47px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__item {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 24px 0;

            @include mq("tablet-wide", max) {
                width: 25%;
                height: 100%;
                padding: 0 0 0 28px;
            }

            @include mq("phone", max) {
                padding: 0 0 48px 0;
                width: 50%;
            }

            @media screen and (min-width: 481px) and (max-width: 590px) {
                width: 40%;
                height: 100%;
                justify-content: flex-start;
                padding: 34px 0 0 0;
            }

            &-logo {
                width: 100px;
                height: 47px;
                align-self: center;
            }

            &-btn {
                @include primary-btn(primary, rounded, 1.4rem);
                padding: 1em;
            }

            &-title {
                margin: 0 0 43px 0;

                @include text(light, 1.8rem, 2.1rem);
                font-weight: 600;

                @include mq("phone", max) {
                    text-align: center;
                    margin: 0 0 13px 0;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                li {
                    margin: 0 0 19px 0;

                    a {
                        @include text(light, 1.4rem, 1.7rem);
                        transition: all 0.3s ease-in-out;

                        @include mq("phone", max) {
                            opacity: 0.6;
                        }

                        &:hover {
                            @include mq("phone", max) {
                                opacity: 1;
                            }
                        }

                        .icon {
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            margin: 0 14.5px 0 0;

                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;

                            vertical-align: middle;
                        }

                        .email {
                            background-image: url("../images/icon-email.svg");
                        }

                        .phone {
                            background-image: url("../images/icon-phone.svg");
                        }
                    }

                    .footer-top__item-line {
                        display: block;
                        width: 136px;
                        height: 4px;

                        background-color: #f4d366;

                        @include mq("tablet", max) {
                            margin: 6.5px 0;
                        }

                        @include mq("phone", max) {
                            margin: 6.5px auto;
                        }
                    }

                    .footer-top__item-empty {
                        display: block;
                        height: 4px;

                        @include mq("tablet", max) {
                            margin: 2px 0 16px;
                        }
                    }
                }

                li:last-child {
                    margin: 0;
                }
            }
        }

        &__item:nth-child(2) {
            padding: 0;

            @include mq("tablet-wide", max) {
                display: none;
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 48px 0 0 0;

        @include mq("tablet-wide", max) {
            max-width: 707px;
            margin: 0 auto;
        }

        @include mq("phone", max) {
            flex-direction: column-reverse;
            justify-content: center;
            text-align: center;
        }

        .copyright {
            width: 100%;
            @include text(light, 1.4rem, 1.7rem);
            opacity: 0.2;

            @include mq("phone", max) {
                width: 50%;
                margin: 0 auto;
                text-align: center;
            }
        }

        .payments {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            @include mq("phone", max) {
                width: 50%;
                margin: 0 auto;
                justify-content: center;
                margin-bottom: 34px;
            }

            @include mq("phone-sm", max) {
                width: 80%;
            }

            .payment {
                height: 20px;
                margin: 0 0 0 24px;

                @include mq("phone-sm", max) {
                    margin: 0 0 0 12px;
                }
            }
        }

        .payments .payment:first-child {
            @include mq("phone", max) {
                margin-left: 0;
            }
        }
    }
}
