<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__logo">
                <img src="assets/images/footer-logo.svg" width="100" height="47" alt="footer logo">
            </div>
            <div class="footer-top__item">
                <div class="footer-top__item-logo">
                    <img src="assets/images/footer-logo.svg" width="100" height="47" alt="footer logo">
                </div>
                <a class="footer-top__item-btn" href="#!">Регистрация для поставщиков</a>
            </div>
            <div class="footer-top__item">
                <h6 class="footer-top__item-title">
                    О компании
                </h6>
                <ul class="footer-top__item-list">
                    <li><a href="#!">Про Restocker</a></li>
                    <li><a href="#!">Как это работает</a></li>
                    <li><a href="#!">Гарантия защиты покупателей</a></li>
                    <li><a href="#!">Реквизиты</a></li>
                    <li><a href="#!">Договор оферты</a></li>
                </ul>
            </div>
            <div class="footer-top__item">
                <h6 class="footer-top__item-title">
                    Для партрнеров
                </h6>
                <ul class="footer-top__item-list">
                    <li><a href="#!">Почему выгодно закупать на restocker?</a></li>
                    <li><a href="#!">Почему выгодно ликвидировать на restocker?</a></li>
                    <li><a href="#!">Для организаторов СП</a></li>
                </ul>
            </div>
            <div class="footer-top__item">
                <h6 class="footer-top__item-title">
                    Помощь
                </h6>
                <ul class="footer-top__item-list">
                    <li><a href="#!">Состояние товаров</a></li>
                    <li><a href="#!">Как купить</a></li>
                    <li><a href="#!">Как оплатить</a></li>
                    <li><span class="footer-top__item-line"></span></li>
                    <li><a href="#!">Доставка и получение</a></li>
                </ul>
            </div>
            <div class="footer-top__item">
                <h6 class="footer-top__item-title">
                    Контакты
                </h6>
                <ul class="footer-top__item-list">
                    <li><span>ООО “РЕСТОКЕР”</span></li>
                    <li><span>ИНН 7810794330</span></li>
                    <li><span class="footer-top__item-empty"></span></li>
                    <li><a href="email:info@restocker.ru"><i class="icon email"></i>info@restocker.ru</a></li>
                    <li><a href="tel:+79585779784"><i class="icon phone"></i>+7 958 577-97-84</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">
                Все права защищены  © 2020
            </p>
            <div class="payments">
                <div class="payment">
                    <img src="./assets/images/icon-union.svg" alt="union">
                </div>
                <div class="payment">
                    <img src="./assets/images/icon-visa.svg" alt="visa">
                </div>
                <div class="payment">
                    <img src="./assets/images/icon-webmoney.svg" alt="webmoney">
                </div>
            </div>
        </div>
    </div>
</footer>