<header class="header">
    <div class="container container-left">
        <div class="header__wrap">
            <a class="header__logo" href="/">
                <img src="../assets/images/header-logo.png" alt="логотип restocker">
            </a>
            <div class="header__auth">
                <div class="header__auth-text">
                    Войдите в систему, чтобы получить доступ к закупкам
                </div>
                <a href="#!" class="header__auth-button">Войти</a>  
            </div>
        </div>
    </div>
</header>
